@import "../utils.scss";

.leftNavigation {
  transition: width .3s;
  transition: min-width .3s;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 15;
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 60px;
  left: 0;
  width: 60px;
  overflow: visible;
  &::-webkit-scrollbar {
    display: none;
  }
  .boxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 60px);
    border-right: 1px solid $color-border;
    width: 60px;
    .fold_btn {
      position: absolute;
      left: 0;
      bottom: 0;
      border-top: 1px solid $color-border;
    }
  }
}
.Template {
  transition: min-width 0.3s;
  transition: width .3s;
  overflow: hidden;
  z-index: 15;
  // position: relative;
  min-width: 424px;
  ::-webkit-scrollbar {
    display: none;
  }
}

.imgBox {
  height: 60px;
  border-bottom:  1px solid $color-border;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
  color: $color-darkGray;
  &:first-child {
      border-top:  1px solid $color-border;
  }
  &:hover {
    color: $color-main;
  }
}

.select {
  background-color: $color-main;
  color:$color-white;
  &:hover {
    color: $color-white;
  }
}
