* {
    margin: 0;
    padding: 0;
}
$xxl : 1407px;
$xl : 1262px;
$lg : 820px;
$md : 600px;
$sm: 415px;
$xs : 320px;


$color-main: #52aaf4; //파란색
$color-secondary : #494e54; //기본적인 글씨 색 
$color-lightGray : #f3f5f7; //옅은 회색
$color-darkGray : #b3b4b6; //짙은 회색 

$color-border : #e3e5e9; //input에도 동일하게 사용되는 색 취소 버튼에도 사용
$color-error: #e84438;
$color-white : #ffffff;

$color-btn-defulat :#f4f4f4;
$color-btn-secondary: #e3e5e9;
$color-btn-secondary-hover: #d3d5d9;
$color-btn-disabled: #888888;


$color-main-hover : #ffffff;
$color-blue-hover : #52aaf4;
$color-gray-hover : #b3b4b6;

$color-gray-background: #f3f1f9;